.Navbar__Hamburger, .Navbar__Full {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 50px;
}

.Navbar__Full {
  margin-bottom: 50px;
  display: none;
}

.Navbar__Column {
  height: 30px;
  margin: 15px 30px;
}

@media (min-width: 768px) {
  .Navbar__Hamburger {
    display: none;
  }

  .Navbar__Full {
    display: flex;
  }

  .Navbar__Column {
    margin: 30px;
  }
}

.Navbar__ColumnLink {
  text-transform: uppercase;
}

a.Navbar__ColumnLink,
a.Navbar__ColumnLink:visited {
  color: #9C9C9C;
  text-decoration: none;
}

a.Navbar__ColumnLink:hover {
  color: #000;
}

.Navbar__Column-Selected {
  border-bottom: 4px solid black;
}

a.Navbar__ColumnLink-Selected,
a.Navbar__ColumnLink-Selected:visited {
  color: #000;
  font-weight: 700;
}
