.navbar-menu, .navbar-expanded {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 50px;
}

.navbar-expanded {
  margin-bottom: 50px;
  display: none;
}

.navbar__col {
  height: 30px;
  margin: 15px 30px;
}

@media (min-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-expanded {
    display: flex;
  }

  .navbar__col {
    margin: 30px;
  }
}

.navbar__col_link {
  text-transform: uppercase;
}

a.navbar__col_link,
a.navbar__col_link:visited {
  color: #9C9C9C;
  text-decoration: none;
}

a.navbar__col_link:hover {
  color: #000;
}

.navbar__col--selected {
  border-bottom: 4px solid black;
}

a.navbar__col_link--selected,
a.navbar__col_link--selected:visited {
  color: #000;
  font-weight: 700;
}
