$containerMargin: 1em;
$thumbnailDimension: 150px;

.OfficerPortraits {
    display: flex;
    flex-flow: row wrap;
}

.OfficerPortrait__Container {
    flex: 0 1 calc(33% - (#{$containerMargin} * 2));
    margin: $containerMargin;
}

.OfficerPortrait__Thumbnail {
    display: block;
    margin: 0 auto;
    width: $thumbnailDimension;
    height: $thumbnailDimension;
    border-radius: $containerMargin;
}

.OfficerPortrait__Biography {
    position: relative;
    top: -1 * $thumbnailDimension * (1/3);
    padding: calc(#{$thumbnailDimension} * (1/3) + 1em) .5em .5em .5em;
    border-top: .5em solid gold;
    background: rgb(226, 226, 226);
    text-align: center;
    z-index: -1;
    min-height: 10 * $containerMargin;
}